<!DOCTYPE html>
{% load staticfiles %} <!--staticfiles -->

<html>

  <head>
    <title>About</title>
  </head>

  <body>
    <h3>UUUoooouuuu...<br/>this is About PAGE</h3>
    <div>
      <br/>
      {{ about_page }}</strong><br/>
      {{ about_page }}<br />
      <strong>{{ example }}</strong><br />
      <strong>{{ example }}</strong><br />
    </div>
    <div>
      <br/><a href="/rango/">Index</a><br/>
      <img src="{% static "images/dpool.png" %}" alt="Picture of Deadpool" /> <!-- load image of Rango-->
    </div>
  </body>

</html>
